body {
  width: 70%;
  margin: auto;
  background-color: cornsilk;
}
body ol {
  text-align: left;
}
h1,
h2,
h3 {
  font-family: sans-serif;
  margin-top: 1.5em;
}
h1 {
  font-size: 32px;
}
table,
th,
td {
  border: 1px solid black;
}
body > tr {
  text-align: center;
}
figcaption {
  font-style: italic;
}
figure {
  float: right;
  margin-right: 1%;
}
