h1 {
    text-decoration: wavy;
    font-style: italic;
    color: chocolate;
}
.header_links{
    text-align: right;
    padding-right: 20px;
    padding-top: 29px;
    font-size: 29px;
    color: white;
    
}
.header{
    display: block;
    width: 1219px;
    height: 84px;
    background: url("images/rectangle.png")
}
a {
    color: white;
    text-decoration: none;
}
body{
    margin-left: auto;
    margin-right: auto;
    width: 1219px;
}